<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149392387017-qnkmiia7pnrda1al8r93q9lochu521cj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149392387017-qnkmiia7pnrda1al8r93q9lochu521cj</string>
	<key>API_KEY</key>
	<string>AIzaSyAuM1LglxXOL1kgTecyC-fd9R3KwL_zzzM</string>
	<key>GCM_SENDER_ID</key>
	<string>149392387017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atmajaya.himaforka</string>
	<key>PROJECT_ID</key>
	<string>himaforka-c0ad2</string>
	<key>STORAGE_BUCKET</key>
	<string>himaforka-c0ad2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149392387017:ios:e89f955b08010f79a65618</string>
	<key>DATABASE_URL</key>
	<string>https://himaforka-c0ad2-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>